@import '../styles.scss';

.disabled{
    color: currentColor;
    cursor: not-allowed!important;
    opacity: 0.5;
    text-decoration: none;
}

mat-toolbar.navbar_material.mini{
    visibility: hidden;
}
mat-toolbar.navbar_material.maxi{
    visibility: visible;
    margin-top: -65px;

    span:hover{
        text-decoration: underline;
    }

    span.material-icons{
        position: relative;
        top:5px;
        right: 2px;
    }
    span.material-icons.logOut:hover{
        color:red
    }
}

mat-sidenav-container{
    min-height: 100%; 
    .navbar_material{
        justify-content: space-between;
        em{
            margin-left: 1rem;
            font-size: 0.5em;
        }
        .link_menu{
            cursor: pointer;
        } 
        .link_menu.maxi{
            margin-right:25px;
        }       
    }
    span.link_menu.maxi:focus{
        outline:none;
    }
    mat-sidenav{
        width: 200px;
        padding: 10px;

        mat-nav-list{
            a{
                width: 200px;
                display: block;
                margin-left: -10px;
            }
        }

        mat-icon{
            margin-right: 5px;
        } 
    }
    mat-toolbar{
        img{
            height: 50px;
        }
    }

    .container_bloc{
        min-height: 83vh;
        padding-top: 50px;
    }
    
}    

@media screen and (max-width: 1000px){
    mat-toolbar.navbar_material.mini{
        visibility: visible
    }
    mat-toolbar.navbar_material.maxi{
        visibility: hidden
    }

}

@media screen and (max-width: 600px){
    mat-toolbar{
       height: 64px;
    }

}