<div class="container_g">

    <app-header></app-header>

    <div class="container" *ngIf="profileConnected">
        
        <!-- <div class='title d-flex align-items-center justify-content-between p-3 m-0'>
            <h1>{{profileConnected.name}} {{profileConnected.firstName}}</h1>
            <p *ngIf="profileConnected.advice !=null;then advice else Noadvice"></p>
                    <ng-template #advice> Nom du type</ng-template>
                    <ng-template #Noadvice>En  attente d'attachement de conseiller</ng-template>
        </div> -->

        <div class="row" >

            <div class='resume mt-5 col-12 col-md-7'>
                <div class='mb-5'>
                    <h2>Mon Projet</h2> 
                    <p>Formations {{profileConnected.training}} en {{profileConnected.funding}}  </p>
                </div>

                <div class='mb-5'>
                    <h2>A propos de moi</h2>
                    <p>Je suis né(e) le {{profileConnected.birthday}} à {{profileConnected.cityBirthday}} en {{profileConnected.countryBirthday}} </p>
                    <p>Je suis de nationalité {{profileConnected.nationality}}</p>
                    <p>J'habite {{profileConnected.address}} - {{profileConnected.postal}} {{profileConnected.city}} ( {{profileConnected.region}} ) </p>
                    <p *ngIf="profileConnected.haslicence =='oui';then haslicence else Nohaslicence"></p>
                        <ng-template #haslicence>
                            J'ai le permis de conduire, 
                            <p *ngIf="profileConnected.vehicule =='oui';then vehicule else Novehicule"></p>
                                <ng-template #vehicule>et un véhicule.
                                    <p *ngIf="profileConnected.mobile =='oui';then mobile else Nomobile"></p>
                                        <ng-template #mobile>Je suis mobile jusqu'à km </ng-template>
                                        <ng-template #Nomobile> mais je ne suis pas mobile </ng-template>
                                </ng-template>
                                <ng-template #Novehicule> mais je n'ai pas de véhicule.
                                    <p *ngIf="profileConnected.mobile =='oui';then mobile else Nomobile"></p>
                                    <ng-template #mobile>Cependant je suis mobile jusqu'à {{profileConnected.mobilityParameter}} km </ng-template>
                                    <ng-template #Nomobile> Ainsi, je ne suis pas mobile. </ng-template>
                                </ng-template>
                        </ng-template>
                        <ng-template #Nohaslicence>Je n'ai pas le permis  
                            <p *ngIf="profileConnected.mobile =='oui';then mobile else Nomobile"></p>
                                    <ng-template #mobile>Cependant je suis mobile jusqu'à {{profileConnected.mobilityParameter}}km </ng-template>
                                    <ng-template #Nomobile> Je ne suis pas donc pas mobile </ng-template>
                        </ng-template>
                
                    <p *ngIf="profileConnected.statut !='autre';then statut else Nostatut"></p>
                        <ng-template #statut><p class='marginOK'>Aujourd"hui, je suis {{profileConnected.statut}} </p></ng-template>
                        <ng-template #Nostatut><p class='marginOK'>Aujourd"hui, je suis {{profileConnected.statutAutre}}</p></ng-template>
                    <p *ngIf="profileConnected.handicapped=='oui'" >Je suis reconnu(e) handicappé(e) </p>
                </div>

                <h2>Mes informations personnelles de contact</h2>
                <p>Mon email : {{profileConnected.email}} </p>
                <p *ngIf="profileConnected.phone1!=null" >Mon numéro de téléphone portable : {{profileConnected.phone1}} </p>
                <p *ngIf="profileConnected.phone2!=null" >Mon numéro de téléphone fixe : {{profileConnected.phone2}} </p>
            </div>
            <div class='mt-5 col-12 col-md-5 mb-5'> 
                <div class='widgetRight'>
                    <div class='photo pr-0'>
                        <div *ngIf="profileConnected.photo !=null && !divChangePicture ;then photo else Nophoto"></div>
                        <ng-template #photo>
                            <div class='container_photo text-right pr-0'>
                                <img src="http://localhost:8888/API-aden/upload/{{profileConnected.photo}}" alt="">
                                <i class="changePicture" (click)="changePicture()">Modifier votre photo</i>
                            </div>
                            </ng-template>

                        <ng-template #Nophoto>
                            <form [formGroup]="myForm" (ngSubmit)="submit()">
                                <div class="form-group mt-5">
                                    <label for="file">Merci de télécharger une photo format JPG/JPEG
                                        <i>dimension recommandée : 3,5 * 4,5 cm (photo d'identité) / 252 * 324 px - Max 2Mo</i>
                                    </label>
                                    <input 
                                        formControlName="file"
                                        id="file" 
                                        type="file" 
                                        class="form-control"
                                        (change)="onFileChange($event)">
                                    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                                        <div *ngIf="fCv.file.errors.required">Vous devez selectionner un fichier</div>
                                    </div>
                                    <div *ngIf="alertSizePhoto" class="alert alert-danger">
                                        Trop Volumineux
                                    </div>
                                    <div *ngIf="alertTypePhoto" class="alert alert-danger">
                                        Format pas pris en charge
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button [ngClass] ="{'colorNotDisabled': !myForm.invalid && !alertTypePhoto && !alertSizePhoto  }" class="btn colorDisabled" type="submit" [disabled]="myForm.invalid || (alertTypePhoto || alertSizePhoto)" >Envoyer</button>
                                </div>
                            </form>
                            
                            <div *ngIf="divChangePicture"  (click)="cancelchangePicture()"class="text-right"><i class="changePicture">Annuler la modification</i></div>

                        </ng-template>
                    </div>

                    <div class='cv'>
                        <p *ngIf="profileConnected['CV'] !=null && !divChangeCv ;then cv else Nocv"></p>
                        <ng-template #cv>
                            <div class='container_cv text-right pr-0'>
                                <iframe id="iframepdf"[src]="photoURLCv(this.profileConnected.CV)" (load)="onLoad()"type='application/pdf'width="100%" height="300px" frameborder="0"> </iframe>
                            </div>
                            <div class=' text-right'>
                                <i class="changeCv" (click)="changeCv()">Modifier votre Cv</i>
                            </div>
                        </ng-template>
                        <ng-template #Nocv>
                            <form [formGroup]="myFormCv" (ngSubmit)="submitCv()">
                                <div class="form-group mt-5">
                                    <label for="file">Merci de télécharger un CV format PDF
                                        <i>Max 2Mo</i>
                                    </label>
                                    <input 
                                        formControlName="file"
                                        id="file" 
                                        type="file" 
                                        class="form-control"
                                        (change)="onFileChangeB($event)">
                                    <div *ngIf="fCv.file.touched && fCv.file.invalid" class="alert alert-danger">
                                        <div *ngIf="fCv.file.errors.required">Vous devez selectionner un fichier</div>
                                    </div>
                                    <div *ngIf="alertSizeCv" class="alert alert-danger">
                                        Trop Volumineux
                                    </div>
                                    <div *ngIf="alertTypeCv" class="alert alert-danger">
                                        Format pas pris en charge
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button [ngClass] ="{'colorNotDisabled': !myFormCv.invalid && !alertTypeCv && !alertSizeCv}" class="btn colorDisabled" type="submit" [disabled]="myFormCv.invalid || alertTypeCv || alertSizeCv" >Envoyer</button>
                                </div>
                            </form>
                            <div *ngIf="divChangeCv"  (click)="cancelchangeCv()" class="text-right"><i class="changeCv">Annuler la modification</i></div>

                        </ng-template>
                    </div>
                </div>
            </div>
        </div> 

    </div>
</div>