@import '../../styles.scss';

// .title {
//   height: 75px;
//   border: 1px solid $primaryColor;
//   border-radius: 10px;
//   color:$primaryColor
// }

.widgetRight{
display: flex;
flex-direction: column;
height: 550px;
justify-content: space-between;
padding: 5px;
border-radius:  20px;
}

.photo, .cv{
  height: 220px;
}

iframe#plugin {
margin-top: -60px!important;
}

.container_cv{
  height: 100%;
  width: 100%;
  border: $primaryColor 1px solid;
  overflow: hidden;
}

.container_photo{
  height: 100%;
  width: 100%;
  border: $primaryColor 1px solid;
  margin-top: 25px;
}

.changePicture:hover, .changeCv:hover{
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0px;
}


img{
  height: 100%;
  width: 100%;
  object-fit: contain; 
  // filter: drop-shadow(1px 1px 3px black)
  //       drop-shadow(2px 2px 0px rgba(0,0,0,.3));
}

.colorDisabled{
  border: none!important;
  background:$primaryColor!important;
  color:white !important;
}

.colorNotDisabled{
  border: none;
  background:$primaryColor;
  color:#333!important
}


p.marginOK{
  margin-top:12px;
}
