
@import '../../styles.scss';

mat-toolbar{
    background-color:$primaryColor;
    margin-top: 20px;
}

@media screen and (max-width: 600px){
    mat-toolbar{
       height: 64px;
       font-size: 0.5em;
    }

}