<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}} -->

<!-- </button> -->
<!-- <mat-vertical-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="firstFormGroup" >
        <form [formGroup]="firstFormGroup" (ngSubmit)="form1()" #formone="ngForm"> 
        <ng-template matStepLabel>Vos Coordonnées</ng-template>
        <mat-form-field class='mr-5'>
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Prénom" formControlName="firstname" required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>N°tel portable</mat-label>
            <input matInput placeholder="n°tel portable" formControlName="phone1">
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>N°tel fixe</mat-label>
            <input matInput placeholder="n°tel fixe" formControlName="phone2" required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Adresse</mat-label>
            <input matInput placeholder="Adresse" formControlName="adress">
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Code Postal</mat-label>
            <input matInput placeholder="Code Postal" formControlName="postal" required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Ville</mat-label>
            <input matInput placeholder="Ville" formControlName="city" required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Département</mat-label>
            <input matInput placeholder="Département" formControlName="department" required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Region</mat-label>
            <input matInput placeholder="Région" formControlName="region" required>
        </mat-form-field>
        <div>
            <button mat-button matStepperNext type="submit">Suivant</button>
        </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup"(ngSubmit)="form2()" #formtwo="ngForm"> 
        <ng-template matStepLabel>Vos Informations </ng-template>
        <mat-form-field class='mr-5'>
            <mat-label>date de naissance</mat-label>
            <input matInput formControlName="birthday" placeholder="10/08/1981"
                    required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>à</mat-label>
            <input matInput formControlName="citybirthday" placeholder="Verdun"
                    required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Pays</mat-label>
            <input matInput formControlName="countrybirthday" placeholder="country"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>nationalité</mat-label>
            <input matInput formControlName="nationality" placeholder="Française"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Statut</mat-label>
            <input matInput formControlName="statut" placeholder="2 81 34 933 O38 01"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Numéro de Sécurité sociale</mat-label>
            <input matInput formControlName="numberSecu" placeholder="2 81 34 933 O38 01"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Numéro de Permis de conduire</mat-label>
            <input matInput formControlName="licence" placeholder="PC343535643533"
                    required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Véhicule</mat-label>
            <input matInput formControlName="vehicule" placeholder="Y/N"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" placeholder="Y/N"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Reconnaissance Handicapée</mat-label>
            <input matInput formControlName="handicapped" placeholder="Y/N"
                    required>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button matStepperNext>Suivant</button>
        </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="threeFormGroup">
        <form [formGroup]="threeFormGroup">
            <ng-template matStepLabel>La formations souhaitée </ng-template>
            <mat-form-field class='mr-5'>
                <mat-label>Formation souhaitée</mat-label>
                <input matInput formControlName="training" placeholder="Licence CSI"
                        required>
            </mat-form-field>
            <br>
            <mat-form-field class='mr-5'>
                <mat-label>Financement souhaité</mat-label>
                <input matInput formControlName="funding" placeholder="Alternance"
                        required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Retour</button>
                <button mat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="forFormGroup">
        <form [formGroup]="forFormGroup">
            <ng-template matStepLabel>Création du Compte</ng-template>
            <mat-form-field class='mr-5'>
                <mat-label>Créer un mot de passe</mat-label>
                <input matInput formControlName="password" placeholder=""
                        required>
            </mat-form-field>
    <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
    <button mat-button type="button" (click)="formone.ngSubmit.emit();formtwo.ngSubmit.emit()">Envoyer</button>
    </div>
</form>
    </mat-step>
    
</mat-vertical-stepper> -->

<form [formGroup]="formGroup">
<mat-vertical-stepper [linear]="isLinear" #stepper formArrayName="formArray">

    <mat-step formGroupName="0" [stepControl]="formArray.get([0])">

        <ng-template matStepLabel>Vos Coordonnées</ng-template>
        <mat-form-field class='mr-5'>
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Prénom" formControlName="firstname" required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>N°tel portable</mat-label>
            <input matInput placeholder="n°tel portable" formControlName="phone1">
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>N°tel fixe</mat-label>
            <input matInput placeholder="n°tel fixe" formControlName="phone2">
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Adresse</mat-label>
            <input matInput placeholder="Adresse" formControlName="adress">
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Code Postal</mat-label>
            <input matInput placeholder="Code Postal" formControlName="postal" required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Ville</mat-label>
            <input matInput placeholder="Ville" formControlName="city" required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
        <mat-label >Departement</mat-label>
        <mat-select formControlName="department"required>
            <mat-option>01	Ain</mat-option> 
            <mat-option>02	Aisne</mat-option>
            <mat-option>03	Allier</mat-option>
            <mat-option>04	Alpes-de-Haute-Provence</mat-option>
            <mat-option>05	Hautes-Alpes</mat-option>
            <mat-option>06	Alpes-Maritimes</mat-option>
            <mat-option>07	Ardèche</mat-option>
            <mat-option>08	Ardennes</mat-option>
            <mat-option>09	Ariège</mat-option>
            <mat-option>10	Aube</mat-option>
            <mat-option>11	Aude</mat-option>
            <mat-option>12	Aveyron</mat-option>
            <mat-option>13	Bouches-du-Rhône</mat-option>
            <mat-option>14	Calvados</mat-option>
            <mat-option>15	Cantal</mat-option>
            <mat-option>16	Charente</mat-option>
            <mat-option>17	Charente-Maritime</mat-option>
            <mat-option>18	Cher</mat-option>
            <mat-option>19	Corrèze</mat-option>
            <mat-option>2A	Corse-du-Sud</mat-option>
            <mat-option>2B	Haute-Corse</mat-option>
            <mat-option>21	Côte-d'Or</mat-option>
            <mat-option>22	Côtes d'Armor</mat-option>
            <mat-option>23	Creuse</mat-option>
            <mat-option>24	Dordogne</mat-option>
            <mat-option>25	Doubs</mat-option>
            <mat-option>26	Drôme</mat-option>
            <mat-option>27	Eure</mat-option>
            <mat-option>28	Eure-et-Loir</mat-option>
            <mat-option>29	Finistère</mat-option>
            <mat-option>30	Gard</mat-option>
            <mat-option>31	Haute-Garonne</mat-option>
            <mat-option>32	Gers</mat-option>
            <mat-option>33	Gironde</mat-option>
            <mat-option>34	Hérault</mat-option>
            <mat-option>35	Ille-et-Vilaine</mat-option>
            <mat-option>36	Indre</mat-option>
            <mat-option>37	Indre-et-Loire</mat-option>
            <mat-option>38	Isère</mat-option>
            <mat-option>39	Jura</mat-option>
            <mat-option>40	Landes</mat-option>
            <mat-option>41	Loir-et-Cher</mat-option>
            <mat-option>42	Loire</mat-option>
            <mat-option>43	Haute-Loire</mat-option>
            <mat-option>44	Loire-Atlantique</mat-option>
            <mat-option>45	Loiret</mat-option>
            <mat-option>46	Lot</mat-option>
            <mat-option>47	Lot-et-Garonne</mat-option>
            <mat-option>48	Lozère</mat-option>
            <mat-option>49	Maine-et-Loire</mat-option>
            <mat-option>50	Manche</mat-option>
            <mat-option>51	Marne</mat-option>
            <mat-option>52	Haute-Marne</mat-option>
            <mat-option>53	Mayenne</mat-option>
            <mat-option>54	Meurthe-et-Moselle</mat-option>
            <mat-option>55	Meuse</mat-option>
            <mat-option>56	Morbihan</mat-option>
            <mat-option>57	Moselle</mat-option>
            <mat-option>58	Nièvre</mat-option>
            <mat-option>59	Nord</mat-option>
            <mat-option>60	Oise</mat-option>
            <mat-option>61	Orne</mat-option>
            <mat-option>62	Pas-de-Calais</mat-option>
            <mat-option>63	Puy-de-Dôme</mat-option>
            <mat-option>64	Pyrénées-Atlantiques</mat-option>
            <mat-option>65	Hautes-Pyrénées</mat-option>
            <mat-option>66	Pyrénées-Orientales</mat-option>
            <mat-option>67	Bas-Rhin</mat-option>
            <mat-option>68	Haut-Rhin</mat-option>
            <mat-option>69	Rhône</mat-option>
            <mat-option>70	Haute-Saône</mat-option>
            <mat-option>71	Saône-et-Loire</mat-option>
            <mat-option>72	Sarthe</mat-option>
            <mat-option>73	Savoie</mat-option>
            <mat-option>74	Haute-Savoie</mat-option>
            <mat-option>75	Paris</mat-option>
            <mat-option>76	Seine-Maritime</mat-option>
            <mat-option>77	Seine-et-Marne</mat-option>
            <mat-option>78	Yvelines</mat-option>
            <mat-option>79	Deux-Sèvres</mat-option>
            <mat-option>80	Somme</mat-option>
            <mat-option>81	Tarn</mat-option>
            <mat-option>82	Tarn-et-Garonne</mat-option>
            <mat-option>84	Vaucluse</mat-option>
            <mat-option>83	Var</mat-option>
            <mat-option>85	Vendée</mat-option>
            <mat-option>86	Vienne</mat-option>
            <mat-option>87	Haute-Vienne</mat-option>
            <mat-option>88	Vosges</mat-option>
            <mat-option>89	Yonne</mat-option>
            <mat-option>90	Territoire de Belfort</mat-option>
            <mat-option>91	Essonne</mat-option>
            <mat-option>92	Hauts-de-Seine</mat-option>
            <mat-option>93	Seine-St-Denis</mat-option>
            <mat-option>94	Val-de-Marne</mat-option>
            <mat-option>95	Val-D'Oise</mat-option>
            <mat-option>971	Guadeloupe</mat-option>
            <mat-option>972	Martinique</mat-option>
            <mat-option>973	Guyane</mat-option>
            <mat-option>974	La Réunion</mat-option>
            <mat-option>976	Mayotte</mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label >Region</mat-label>
            <mat-select formControlName="region" required>
                <mat-option>Auvergne-Rhône-Alpes</mat-option> 
                <mat-option>Bourgogne-Franche-Comté</mat-option> 
                <mat-option>Bretagne</mat-option> 
                <mat-option>Centre-Val de Loire</mat-option> 
                <mat-option>Corse</mat-option> 
                <mat-option>Grand Est</mat-option> 
                <mat-option>Hauts-de-France</mat-option> 
                <mat-option>Île-de-France</mat-option> 
                <mat-option>Normandie</mat-option> 
                <mat-option>Nouvelle-Aquitaine</mat-option> 
                <mat-option>Occitanie</mat-option> 
                <mat-option>Pays de la Loire</mat-option> 
                <mat-option>Provence-Alpes-Côte d'Azur</mat-option> 
                <mat-option>Guadeloupe</mat-option> 
                <mat-option>Martinique</mat-option> 
                <mat-option>Guyane</mat-option> 
                <mat-option>La Réunion</mat-option> 
                <mat-option>Mayotte</mat-option> 
            </mat-select>
        </mat-form-field>
        <div class='container_button_form d-flex justify-content-end'>
            <button  mat-raised-button color="primary" matStepperNext > Suivant  <span class="material-icons">keyboard_arrow_right</span> </button>
        </div>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
        <ng-template matStepLabel>Vos Informations </ng-template>
        <mat-form-field class='mr-5'>
            <mat-label>date de naissance</mat-label>
            <input matInput formControlName="birthday" placeholder="10/08/1981"
                    required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>à</mat-label>
            <input matInput formControlName="citybirthday" placeholder="Verdun"
                    required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Pays</mat-label>
            <input matInput formControlName="countrybirthday" placeholder="country"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>nationalité</mat-label>
            <input matInput formControlName="nationality" placeholder="Française"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Statut</mat-label>
            <input matInput formControlName="statut" placeholder="2 81 34 933 O38 01"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Numéro de Sécurité sociale</mat-label>
            <input matInput formControlName="numberSecu" placeholder="2 81 34 933 O38 01"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Numéro de Permis de conduire</mat-label>
            <input matInput formControlName="licence" placeholder="PC343535643533"
                    required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label >Véhicule</mat-label>
            <mat-select formControlName="vehicule"required>
                <mat-option>Oui </mat-option> 
                <mat-option>Non</mat-option> 
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" placeholder="Y/N"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label >Reconnaissance handicapée</mat-label>
            <mat-select formControlName="handicapped"required>
                <mat-option>Oui </mat-option> 
                <mat-option>Non</mat-option> 
            </mat-select>
        </mat-form-field>
        <div class='container_button_form d-flex justify-content-between'>
            <button  mat-raised-button color="primary" matStepperPrevious type="button"> <span class="material-icons">keyboard_arrow_left</span> Retour </button>
            <button  mat-raised-button color="primary" matStepperNext type="button"> Suivant <span class="material-icons">keyboard_arrow_right</span> </button>
        </div>
    </mat-step>

    <mat-step formGroupName="2" [stepControl]="formArray.get([2])">
  
            <ng-template matStepLabel>La formations souhaitée </ng-template>
            <mat-form-field class='mr-5'>
                <mat-label>Formation souhaitée</mat-label>
                <input matInput formControlName="training" placeholder="Licence CSI"
                        required>
            </mat-form-field>
            <br>
            <mat-form-field class='mr-5'>
                <mat-label>Financement souhaité</mat-label>
                <input matInput formControlName="funding" placeholder="Alternance"
                        required>
            </mat-form-field>
            <div class='container_button_form d-flex justify-content-between'>
                <button  mat-raised-button color="primary" matStepperPrevious type="button"> <span class="material-icons">keyboard_arrow_left</span> Retour </button>
                <button  mat-raised-button color="primary" matStepperNext type="button"> Suivant <span class="material-icons">keyboard_arrow_right</span> </button>
            </div>

    </mat-step>

    <mat-step formGroupName="3" [stepControl]="formArray.get([3])">

            <ng-template matStepLabel>Création du Compte</ng-template>
            <mat-form-field class='mr-5'>
                <mat-label>Créer un mot de passe</mat-label>
                <input matInput formControlName="password" placeholder="" required>
            </mat-form-field>
            <mat-form-field class='mr-5'>
                <mat-label>Confirmation du mot de passe</mat-label>
                <input matInput formControlName="password" placeholder="" required>
            </mat-form-field>
    <div class='container_button_form d-flex justify-content-between'>
        <button mat-raised-button color="primary" matStepperPrevious type="button"> <span class="material-icons">keyboard_arrow_left</span> Retour </button>
        <button mat-stroked-button color="warn" (click)="stepper.reset()" type="button">Reset <span class="material-icons">clear</span></button>
        <button mat-raised-button color="primary" type="button" (click)="onSubmit()">Envoyer <span class="material-icons">send</span></button>
    </div>

    </mat-step>
    
</mat-vertical-stepper>
</form>