<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}} -->

<!-- </button> -->
<!-- <mat-vertical-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="firstFormGroup" >
        <form [formGroup]="firstFormGroup" (ngSubmit)="form1()" #formone="ngForm"> 
        <ng-template matStepLabel>Vos Coordonnées</ng-template>
        <mat-form-field class='mr-5'>
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Prénom" formControlName="firstname" required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>N°tel portable</mat-label>
            <input matInput placeholder="n°tel portable" formControlName="phone1">
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>N°tel fixe</mat-label>
            <input matInput placeholder="n°tel fixe" formControlName="phone2" required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Adresse</mat-label>
            <input matInput placeholder="Adresse" formControlName="adress">
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Code Postal</mat-label>
            <input matInput placeholder="Code Postal" formControlName="postal" required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Ville</mat-label>
            <input matInput placeholder="Ville" formControlName="city" required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Département</mat-label>
            <input matInput placeholder="Département" formControlName="department" required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Region</mat-label>
            <input matInput placeholder="Région" formControlName="region" required>
        </mat-form-field>
        <div>
            <button mat-button matStepperNext type="submit">Suivant</button>
        </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup"(ngSubmit)="form2()" #formtwo="ngForm"> 
        <ng-template matStepLabel>Vos Informations </ng-template>
        <mat-form-field class='mr-5'>
            <mat-label>date de naissance</mat-label>
            <input matInput formControlName="birthday" placeholder="10/08/1981"
                    required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>à</mat-label>
            <input matInput formControlName="citybirthday" placeholder="Verdun"
                    required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Pays</mat-label>
            <input matInput formControlName="countrybirthday" placeholder="country"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>nationalité</mat-label>
            <input matInput formControlName="nationality" placeholder="Française"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Statut</mat-label>
            <input matInput formControlName="statut" placeholder="2 81 34 933 O38 01"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Numéro de Sécurité sociale</mat-label>
            <input matInput formControlName="numberSecu" placeholder="2 81 34 933 O38 01"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Numéro de Permis de conduire</mat-label>
            <input matInput formControlName="licence" placeholder="PC343535643533"
                    required>
        </mat-form-field>
        <mat-form-field class='mr-5'>
            <mat-label>Véhicule</mat-label>
            <input matInput formControlName="vehicule" placeholder="Y/N"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" placeholder="Y/N"
                    required>
        </mat-form-field>
        <br>
        <mat-form-field class='mr-5'>
            <mat-label>Reconnaissance Handicapée</mat-label>
            <input matInput formControlName="handicapped" placeholder="Y/N"
                    required>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button matStepperNext>Suivant</button>
        </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="threeFormGroup">
        <form [formGroup]="threeFormGroup">
            <ng-template matStepLabel>La formations souhaitée </ng-template>
            <mat-form-field class='mr-5'>
                <mat-label>Formation souhaitée</mat-label>
                <input matInput formControlName="training" placeholder="Licence CSI"
                        required>
            </mat-form-field>
            <br>
            <mat-form-field class='mr-5'>
                <mat-label>Financement souhaité</mat-label>
                <input matInput formControlName="funding" placeholder="Alternance"
                        required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Retour</button>
                <button mat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="forFormGroup">
        <form [formGroup]="forFormGroup">
            <ng-template matStepLabel>Création du Compte</ng-template>
            <mat-form-field class='mr-5'>
                <mat-label>Créer un mot de passe</mat-label>
                <input matInput formControlName="password" placeholder=""
                        required>
            </mat-form-field>
    <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
    <button mat-button type="button" (click)="formone.ngSubmit.emit();formtwo.ngSubmit.emit()">Envoyer</button>
    </div>
</form>
    </mat-step>
    
</mat-vertical-stepper> -->

<div class="container_title_form_membership text-center">
<h2>Formulaire d'Adhésion au programme</h2>
<div class="separator">
    <div class="red"></div>
    <div class="green"></div>
    <div class="blue"></div>
    <div class="purple"></div>
    <div class="yellow"></div>
</div>

</div>

<div class="container_form_membership">
    <div class="container_membership">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="Il manque des informations.">
            <ng-template matStepLabel>Vos Coordonnées </ng-template> 
                <form [formGroup]="firstFormGroup">
                    <mat-form-field class='mr-5'>
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="Nom" formControlName="name" required>
                    </mat-form-field>
                    <mat-form-field class='mr-5'>
                        <mat-label>Prénom</mat-label>
                        <input matInput placeholder="Prénom" formControlName="firstname" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="email" formControlName="email" required>
                        <mat-hint *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)&&f.email.hasError('pattern')" class=" text-left text-danger mess_error" role="alert">
                            adresse mail non valide
                        </mat-hint>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label>N°tel portable</mat-label>
                        <input matInput placeholder="n°tel portable" formControlName="phone1" [required]="f.phone2.value==''"> 
                        <mat-hint *ngIf="f.phone1.invalid && (f.phone1.dirty || f.phone1.touched)&&f.phone1.hasError('pattern')" class=" text-left text-danger mess_error" role="alert">
                            N°portable non valide
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field class='mr-5'>
                        <mat-label>N°tel fixe</mat-label>
                        <mat-hint *ngIf="f.phone2.invalid && (f.phone2.dirty || f.phone2.touched)&&f.phone2.hasError('pattern')" class=" text-left text-danger mess_error" role="alert">
                            N°fixe non valide
                        </mat-hint>
                        <input matInput placeholder="n°tel fixe" formControlName="phone2" [required]="f.phone1.value==''">
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label>Adresse</mat-label>
                        <input matInput placeholder="Adresse" formControlName="adress" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label>Code Postal</mat-label>
                        <input matInput placeholder="Code Postal" formControlName="postal" required>
                        <mat-hint *ngIf="f.postal.invalid && (f.postal.dirty || f.postal.touched)&&f.postal.hasError('pattern')" class=" text-left text-danger mess_error" role="alert">
                            Code Postal non valide
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field class='mr-5'>
                        <mat-label>Ville</mat-label>
                        <input matInput placeholder="Ville" formControlName="city" required>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                    <mat-label >Département</mat-label>
                    <mat-select formControlName="department"required>
                        <mat-option value="01	Ain">01 Ain</mat-option> 
                        <mat-option value="02	Aisne">02 Aisne</mat-option>
                        <mat-option value="03	Allier">03 Allier</mat-option>
                        <mat-option value="04	Alpes-de-Haute-Provence">04	Alpes-de-Haute-Provence</mat-option>
                        <mat-option value="05	Hautes-Alpes">05 Hautes-Alpes</mat-option>
                        <mat-option value="06	Alpes-Maritimes">06	Alpes-Maritimes</mat-option>
                        <mat-option value="07	Ardèche">07	Ardèche</mat-option>
                        <mat-option value="08	Ardennes">08 Ardennes</mat-option>
                        <mat-option value="09	Ariège">09	Ariège</mat-option>
                        <mat-option value="10	Aube">10 Aube</mat-option>
                        <mat-option value="11	Aude">11 Aude</mat-option>
                        <mat-option value="12	Aveyron">12	Aveyron</mat-option>
                        <mat-option value="13	Bouches-du-Rhône">13 Bouches-du-Rhône</mat-option>
                        <mat-option value="14	Calvados">14 Calvados</mat-option>
                        <mat-option value="15	Cantal">15 Cantal</mat-option>
                        <mat-option value="16	Charente">16 Charente</mat-option>
                        <mat-option value="17	Charente-Maritime">17 Charente-Maritime</mat-option>
                        <mat-option value="18	Cher">18 Cher</mat-option>
                        <mat-option value="19	Corrèze">19	Corrèze</mat-option>
                        <mat-option value="2A	Corse-du-Sud">2A Corse-du-Sud</mat-option>
                        <mat-option value="2B	Haute-Corse">2B	Haute-Corse</mat-option>
                        <mat-option value="21	Côte-d'Or">21 Côte-d'Or</mat-option>
                        <mat-option value="22	Côtes d'Armor">22 Côtes d'Armor</mat-option>
                        <mat-option value="23	Creuse">23 Creuse</mat-option>
                        <mat-option value="24	Dordogne">24 Dordogne</mat-option>
                        <mat-option value="25	Doubs">25 Doubs</mat-option>
                        <mat-option value="26	Drôme">26 Drôme</mat-option>
                        <mat-option value="27	Eure">27 Eure</mat-option>
                        <mat-option value="28	Eure-et-Loir">28 Eure-et-Loir</mat-option>
                        <mat-option value="29	Finistère">29 Finistère</mat-option>
                        <mat-option value="30	Gard">30 Gard</mat-option>
                        <mat-option value="31	Haute-Garonne">31 Haute-Garonne</mat-option>
                        <mat-option value="32	Gers">32 Gers</mat-option>
                        <mat-option value="33	Gironde">33	Gironde</mat-option>
                        <mat-option value="34	Hérault">34	Hérault</mat-option>
                        <mat-option value="35	Ille-et-Vilaine">35	Ille-et-Vilaine</mat-option>
                        <mat-option value="36	Indre">36 Indre</mat-option>
                        <mat-option value="37	Indre-et-Loire">37 Indre-et-Loire</mat-option>
                        <mat-option value="38	Isère">38 Isère</mat-option>
                        <mat-option value="39	Jura">39 Jura</mat-option>
                        <mat-option value="40	Landes">40 Landes</mat-option>
                        <mat-option value="41	Loir-et-Cher">41 Loir-et-Cher</mat-option>
                        <mat-option value="42	Loire">42 Loire</mat-option>
                        <mat-option value="43	Haute-Loire">43	Haute-Loire</mat-option>
                        <mat-option value="44	Loire-Atlantique">44 Loire-Atlantique</mat-option>
                        <mat-option value="45	Loiret">45 Loiret</mat-option>
                        <mat-option value="46	Lot">46	Lot</mat-option>
                        <mat-option value="47	Lot-et-Garonne">47 Lot-et-Garonne</mat-option>
                        <mat-option value="48	Lozère">48 Lozère</mat-option>
                        <mat-option value="49	Maine-et-Loire">49 Maine-et-Loire</mat-option>
                        <mat-option value="50	Manche">50 Manche</mat-option>
                        <mat-option value="51	Marne">51 Marne</mat-option>
                        <mat-option value="52	Haute-Marne">52	Haute-Marne</mat-option>
                        <mat-option value="53	Mayenne">53	Mayenne</mat-option>
                        <mat-option value="54	Meurthe-et-Moselle">54 Meurthe-et-Moselle</mat-option>
                        <mat-option value="55	Meuse">55 Meuse</mat-option>
                        <mat-option value="56	Morbihan">56 Morbihan</mat-option>
                        <mat-option value="57	Moselle">57	Moselle</mat-option>
                        <mat-option value="58	Nièvre">58	Nièvre</mat-option>
                        <mat-option value="59	Nord">59 Nord</mat-option>
                        <mat-option value="60	Oise">60 Oise</mat-option>
                        <mat-option value="61	Orne">61 Orne</mat-option>
                        <mat-option value="62	Pas-de-Calais">62 Pas-de-Calais</mat-option>
                        <mat-option value="63	Puy-de-Dôme">63	Puy-de-Dôme</mat-option>
                        <mat-option value="64	Pyrénées-Atlantiques">64 Pyrénées-Atlantiques</mat-option>
                        <mat-option value="65	Hautes-Pyrénées">65	Hautes-Pyrénées</mat-option>
                        <mat-option value="66	Pyrénées-Orientales">66	Pyrénées-Orientales</mat-option>
                        <mat-option value="67	Bas-Rhin">67 Bas-Rhin</mat-option>
                        <mat-option value="68	Haut-Rhin">68 Haut-Rhin</mat-option>
                        <mat-option value="69	Rhône">69 Rhône</mat-option>
                        <mat-option value="70	Haute-Saône">70	Haute-Saône</mat-option>
                        <mat-option value="71	Saône-et-Loire">71 Saône-et-Loire</mat-option>
                        <mat-option value="72	Sarthe">72 Sarthe</mat-option>
                        <mat-option value="73	Savoie">73 Savoie</mat-option>
                        <mat-option value="74	Haute-Savoie">74 Haute-Savoie</mat-option>
                        <mat-option value="75	Paris">75 Paris</mat-option>
                        <mat-option value="76	Seine-Maritime">76 Seine-Maritime</mat-option>
                        <mat-option value="77	Seine-et-Marne">77 Seine-et-Marne</mat-option>
                        <mat-option value="78	Yvelines">78 Yvelines</mat-option>
                        <mat-option value="79	Deux-Sèvres">79	Deux-Sèvres</mat-option>
                        <mat-option value="80	Somme">80 Somme</mat-option>
                        <mat-option value="81	Tarn">81 Tarn</mat-option>
                        <mat-option value="82	Tarn-et-Garonne">82	Tarn-et-Garonne</mat-option>
                        <mat-option value="84	Vaucluse">84 Vaucluse</mat-option>
                        <mat-option value="83	Var">83	Var</mat-option>
                        <mat-option value="5	Vendée">85 Vendée</mat-option>
                        <mat-option value="86	Vienne">86 Vienne</mat-option>
                        <mat-option value="87	Haute-Vienne">87 Haute-Vienne</mat-option>
                        <mat-option value="88	Vosges">88 Vosges</mat-option>
                        <mat-option value="89	Yonne">89 Yonne</mat-option>
                        <mat-option value="90	Territoire de Belfort">90 Territoire de Belfort</mat-option>
                        <mat-option value="91	Essonne">91	Essonne</mat-option>
                        <mat-option value="92	Hauts-de-Seine">92 Hauts-de-Seine</mat-option>
                        <mat-option value="93	Seine-St-Denis">93 Seine-St-Denis</mat-option>
                        <mat-option value="94	Val-de-Marne">94 Val-de-Marne</mat-option>
                        <mat-option value="95	Val-D'Oise">95 Val-D'Oise</mat-option>
                        <mat-option value="971	Guadeloupe">971	Guadeloupe</mat-option>
                        <mat-option value="972	Martinique">972	Martinique</mat-option>
                        <mat-option value="973	Guyane">973	Guyane</mat-option>
                        <mat-option value="974	La Réunion">974	La Réunion</mat-option>
                        <mat-option value="976	Mayotte">976 Mayotte</mat-option>
                    </mat-select>
                    </mat-form-field>
                    <mat-form-field class='mr-5'>
                        <mat-label >Région</mat-label>
                        <mat-select formControlName="region" required>
                            <mat-option value="Auvergne-Rhône-Alpes">Auvergne-Rhône-Alpes</mat-option> 
                            <mat-option value="Bourgogne-Franche-Comté">Bourgogne-Franche-Comté</mat-option> 
                            <mat-option value="Bretagne">Bretagne</mat-option> 
                            <mat-option value="Centre-Val de Loire">Centre-Val de Loire</mat-option> 
                            <mat-option value="Corse">Corse</mat-option> 
                            <mat-option value="Grand Est">Grand Est</mat-option> 
                            <mat-option value="Hauts-de-France">Hauts-de-France</mat-option> 
                            <mat-option value="Île-de-France">Île-de-France</mat-option> 
                            <mat-option value="Normandie">Normandie</mat-option> 
                            <mat-option value="Nouvelle-Aquitaine">Nouvelle-Aquitaine</mat-option> 
                            <mat-option value="Occitanie">Occitanie</mat-option> 
                            <mat-option value="Pays de la Loire">Pays de la Loire</mat-option> 
                            <mat-option value="Provence-Alpes-Côte d'Azur">Provence-Alpes-Côte d'Azur</mat-option> 
                            <mat-option value="Guadeloupe">Guadeloupe</mat-option> 
                            <mat-option value="Martinique">Martinique</mat-option> 
                            <mat-option value="Guyane">Guyane</mat-option> 
                            <mat-option value="La Réunion">La Réunion</mat-option> 
                            <mat-option value="Mayotte">Mayotte</mat-option> 
                        </mat-select>
                    </mat-form-field>
                    <div class='container_button_form d-flex justify-content-end'>
                        <button  mat-raised-button color="primary" matStepperNext > Suivant  <span class="material-icons">keyboard_arrow_right</span> </button>
                    </div>
                </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Vos Informations </ng-template>
                <form [formGroup]="secondFormGroup">
                    <mat-form-field class='mr-5'>
                        <mat-label>Date de naissance</mat-label>
                        <input matInput [matDatepicker]="picker"  formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class='mr-5'>
                        <mat-label>à</mat-label>
                        <input matInput formControlName="citybirthday" placeholder="Verdun"
                                required>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label>Pays</mat-label>
                        <input matInput formControlName="countrybirthday" placeholder="country"
                                required>
                    </mat-form-field>
                    <mat-form-field class='mr-5'>
                        <mat-label>nationalité</mat-label>
                        <input matInput formControlName="nationality" placeholder="Française"
                                required>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label>Statut</mat-label>
                        <mat-select formControlName="statut"required>
                            <mat-option value="actif" >En activité professionnelle </mat-option> 
                            <mat-option value="etudiant" >Etudiant</mat-option> 
                            <mat-option value="chomage" > Demandeur d'emploi</mat-option> 
                            <mat-option value="autre" > Autre</mat-option> 
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label>Numéro de Sécurité sociale</mat-label>
                        <input matInput (keyup)="shaping($event)" id="numberSecu"  formControlName="numberSecu"  required>
                        <mat-hint *ngIf="f2.numberSecu.hasError('pattern')" class=" text-left text-danger mess_error" role="alert">
                            adresse mail non valide
                        </mat-hint>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label>Numéro de Permis de conduire</mat-label>
                        <input matInput formControlName="licence" placeholder="PC343535643533"
                                required>
                    </mat-form-field>
                    <mat-form-field class='mr-5'>
                        <mat-label >Véhicule</mat-label>
                        <mat-select formControlName="vehicule"required>
                            <mat-option value="oui" >Oui </mat-option> 
                            <mat-option value="non" >Non</mat-option> 
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label>Mobile</mat-label>
                        <mat-select formControlName="mobile"required>
                            <mat-option value="oui" >Oui </mat-option> 
                            <mat-option value="non" >Non</mat-option> 
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label >Reconnaissance handicapée</mat-label>
                        <mat-select formControlName="handicapped"required>
                            <mat-option value="oui" >Oui </mat-option> 
                            <mat-option value="non" >Non</mat-option> 
                        </mat-select>
                    </mat-form-field>
                    <div class='container_button_form d-flex justify-content-between'>
                        <button  mat-raised-button color="primary" matStepperPrevious type="button"> <span class="material-icons">keyboard_arrow_left</span> Retour </button>
                        <button  mat-raised-button color="primary" matStepperNext type="button"> Suivant <span class="material-icons">keyboard_arrow_right</span> </button>
                    </div>
                </form>
        </mat-step>

        <mat-step [stepControl]="threeFormGroup">
            <ng-template matStepLabel>La formations souhaitée </ng-template>
                <form [formGroup]="threeFormGroup">
                    <mat-form-field class='mr-5'>
                        <mat-label>Formation souhaitée</mat-label>
                        <input matInput formControlName="training" placeholder="Licence CSI"
                                required>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label>Financement souhaité</mat-label>
                        <input matInput formControlName="funding" placeholder="Alternance"
                                required>
                    </mat-form-field>
                    <div class='container_button_form d-flex justify-content-between'>
                        <button  mat-raised-button color="primary" matStepperPrevious type="button"> <span class="material-icons">keyboard_arrow_left</span> Retour </button>
                        <button  mat-raised-button color="primary" matStepperNext type="button"> Suivant <span class="material-icons">keyboard_arrow_right</span> </button>
                    </div>
                </form>
            </mat-step>

        <mat-step [stepControl]="forFormGroup">
           
            <ng-template matStepLabel>Création du Compte</ng-template>
                <form [formGroup]="forFormGroup">
                    <mat-form-field class='mr-5'>
                        <mat-label>Créer un mot de passe</mat-label>
                        <input matInput formControlName="password" placeholder="" required [(ngModel)]='pw1'>
                    </mat-form-field>
                    <br>
                    <mat-form-field class='mr-5'>
                        <mat-label>Confirmation du mot de passe</mat-label>
                        <input matInput formControlName="confirmPassword" placeholder="" required [(ngModel)]='pw2'>
                    </mat-form-field>
                <div class='container_button_form d-flex justify-content-between'>
                    <button mat-raised-button color="primary" matStepperPrevious type="button"> <span class="material-icons">keyboard_arrow_left</span> Retour </button>
                    <button mat-stroked-button color="warn" (click)="stepper.reset()" type="button">Reset <span class="material-icons">clear</span></button>
                    <button mat-raised-button color="primary" type="button" (click)="form1(); form2()">Envoyer <span class="material-icons ml-2">send</span></button>
                </div>
                </form>
        </mat-step>
        
    </mat-vertical-stepper>
    </div>
</div>