@import '../../styles.scss';

.full-widthB{
    width: 80%;
    max-width: 400px;
}

div.text-center a{
    color:#333;
}

button {
    background-color:$primaryColor
}

.separator{
    height: 2px;
    width: 200px;
    background-color:$primaryColor;
    margin:auto;
    margin-bottom:50px;
    margin-top:40px
}

h1 {
    font-size: 3em;
}

.container_form_auth {
    width: 100%!important;
}



.container_g {
    min-height: 86vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}