<h1 class="mat-display-1">Nouvelle Entreprise</h1>

<div class="container">
 
    <form [formGroup]="AddForm" (ngSubmit)="onSubmitForm()">

    <h3>L'identité de l'entreprise</h3>

    <mat-form-field  class="full-width">
        <mat-label >Nom de l'Entreprise </mat-label>
        <input matInput formControlName="name_entreprise" >
    </mat-form-field>

    <br>

    <mat-form-field class="full-width">
        <mat-label>Nom du contact</mat-label>
        <input matInput formControlName="name_contact" >
    </mat-form-field>

    <br>

    <div formArrayName = 'contact_tools' class="form-group mt-5">
        <h3>Les moyens de contact</h3>

        <div class="form-group" *ngFor="let toolsControl of getTools().controls; let i = index">
            <ng-container [formGroupName]="i"  >
                <mat-form-field>
                    <mat-label>Mode de contact</mat-label>
                    <mat-select formControlName="mode_contact" >
                        <mat-option value="mail" selected>Adresse Mail</mat-option>
                        <mat-option value="tel">Numéro de télephone</mat-option>
                        <mat-option value="likedIn">Profil LinkedIn</mat-option>
                        <mat-option value="autre">Autre</mat-option>
                    </mat-select>
                </mat-form-field>
                <input type="text" class="form_line" formControlName="contact">
                <span class="material-icons ml-2 icone_tools" (click)="cancel(i)">cancel</span>
            </ng-container>
        </div>
        <button type="button" class="btn btn-dark" (click)="onAddTools()" [disabled]="AddForm.invalid" >Ajouter une coordonnée</button>
    </div>
    <br>

    <div class='btn_send_order'>
        <button mat-raised-button color="primary" type=submit class="mb-5" [disabled]="AddForm.invalid || !addContact">Enregistrer cette entreprise</button> 
    </div>
</form>


</div>