.full-width{
    width: 100%;
    }

.form_line{
    width: 100%;
}

.icone_tools{
    position: relative;
    top:6px;
    cursor: pointer;
}

@media screen and (min-width: 1000px){
    .form_line{
        max-width:600px;
        margin-left: 10px;
    }
}
